body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.wires {
    display: flex;
    height: 100%;
    width: 80%;
    margin: auto;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blue {
    background-color: cyan;
    color: white;
}

.yellow {
    background-color: khaki;
}

.red {
    background-color: lightcoral;
    color: white;
}

.selected {
    border: 6px black dashed;
}

button  {
    height: 5vw;
    width: 100%;
    cursor: pointer;
    border: 2px black solid;
    transition: .1s;
}

button:hover {
    transform: scale(1.02);
}

.cut {
    width: 20%;
    height: 5vw;
    background-color: darkgray;
    border: 2px black solid;
    margin-right: 0;
    font-size: large;
    font-weight: 600;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.cut:hover {
    transform: scale(1.02);
}